name: WEB CI

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build-and-lint:
    name: Build Web APP (Next.js)
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./apps/web

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '21.6.1'
          cache: 'npm'
          cache-dependency-path: ./apps/web/package-lock.json
      
      - name: Install dependencies
        run: npm ci

      - name: Run ESLint
        run: npm run lint
          
      - name: Build Next.js application
        run: npm run build
